<div class="auxf">

<%= select_tag 'project_select',  options_for_select(Project.get(:index_by_id, :user_id => session[:user_id]).collect{ |p| [p['name'], p['id']]}), 
:onchange => remote_function(:update => 'submission_tasks__aux_files', :url => { :action => :update_options }, :with => "'project_id='+value") %>

<%= f.select '', ['-- Select Item --'] %>

<%= link_to_function "less", "this.up('.inf').remove()" %> <br>

<script>alert('<%= f.object.nil? ? "nil" : f.object.id %>');</script>

</div>
